// Обёртка страницы
.page-wrapper {
  overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    display: inline-block;
    padding: 25px;
    width: 205px;
    height: 64px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: .1s linear;
    color: #ffffff;

    &:hover {
      background-color: #ff4500;
  }
} 

.section-title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: clamp(25px, 5vw, 32px);
  line-height: 43px;
  color: #1B1A17;
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #444240;
}