@media screen and (max-width: 1180px) {

    .news__inner {
        justify-content: center;
    }
    
    .news__img {
        justify-content: center;
    }
}

@media screen and (max-width: 920px) {
    .products__inner {
        justify-content: center;
        flex-direction: column;
    }

    .products__inner {
        justify-content: center;
        flex-direction: column;
    }

    .footer__inner {
        text-align: center;
    }

    .footer__logo {
        margin: 0 auto;
    }
}

@media screen and (max-width: 884px) {
    .price-main__watch, .diameter-main__watch {
        display: none;
    }
}

@media screen and (max-width: 730px) {

    .img-reduction {
        width: 242px;
        height: 228px;
    }
}

@media screen and (max-width: 479px) {

    .home {
        min-height: 600px;
    }
    
    .home__content {
        margin-top: 170px;
    }

    .main-watch {
        top: -140px;
    }

    .section-title {
        text-align: center;
    }

    .about__content {
        text-align: center;
    }

    .news__text {
        text-align: center;
        max-width: none;
        margin-bottom: 70px;
    }

    .news__icons {
        justify-content: center;
    }

    .footer__inner {
        justify-content: center;
    }

    .footer__item {
        width: 100%;
        border-bottom: 1px solid #ffffffbf;
        padding-bottom: 30px;

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
}

@media screen and (max-width: 320px) {

    .home {
        min-height: 400px;
    }

    .home__content {
        margin-top: 50px;
    }

    .main-watch {
        display: none;
    }

    .footer__inner {
        justify-content: center;
    }
}