.products {
    padding: 80px 0;
}

.products__inner {
    display: flex;
    align-items: center;
}

.products__title {
    text-align: center;
    margin-bottom: 52px;
}

.see-all {
    text-align: right;

    a {
        font-weight: 500;
        font-size: 16px;
        color: #444240;
        border-bottom: 1px solid transparent;
        
        &:hover {
            padding-bottom: 11px;
            border-color: #C4C0B6;
        }
    }
}

.products__inner {
    display: flex;
    justify-content: space-between;
}

.products__card {
    padding: 40px 26px;

    img {
        margin-bottom: 20px;
        border: 1px solid rgba(233, 227, 212, 1);
        border-radius: 50%;
    }
}

.model-name {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #1b1a17;
    
    span {
        font-family: 'Prata', serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #1b1a17d1;
    }
}

.more {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #1B1A17;

    &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        border-bottom: 1px solid #8b8371;
        margin-right: 18px;
    }

    &:hover {
        text-decoration: underline;
    }
}