// 1180px
@media screen and (max-width: 1180px) {
    .news__inner {
        justify-content: center;
    }
    
    .news__img {
        justify-content: center;
    }
}

// 920px
@media screen and (max-width: 920px) {
    .products__inner {
        justify-content: center;
        flex-direction: column;
    }

    .footer__inner {
        text-align: center;
    }

    .footer__logo {
        margin: 0 auto;
    }
}

// 884px
@media screen and (max-width: 884px) {
    .price-main__watch, .diameter-main__watch {
        display: none;
    }
}

// 730px
@media screen and (max-width: 730px) {

    .quality {
        background: linear-gradient(to right, #F7F5EF 0%, #F7F5EF 36%, #FDFDFB 36%, #FDFDFB 100%);
    }

    .img-reduction {
        width: 242px;
        height: 228px;
    }
}

// 479px
@media screen and (max-width: 479px) {

    .home {
        min-height: 600px;

        &__content {
            margin-top: 170px;
        }
    }

    .main-watch {
        height: 645px;
        top: -20px;
    }

    .section-title {
        text-align: center;
    }   

    .quality__content {
        text-align: center;
    }

    .news__text {
        text-align: center;
        max-width: none;
        margin-bottom: 70px;
    }

    .news__icons {
        justify-content: center;
    }

    .footer__inner {
        justify-content: center;
    }

    .footer__item {
        width: 100%;
        border-bottom: 1px solid #ffffffbf;
        padding-bottom: 30px;

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
}

// 320px
@media screen and (max-width: 320px) {

    .home {
        min-height: 400px;

        &__content {
            margin-top: 50px;
        }
    }

    .main-watch {
        display: none;
    }

    .footer__inner {
        justify-content: center;
    }
}