*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
    text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
figcaption {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input, button {
    border: none;
}