.header {
    padding: 35px 0;
    background-color: #ffffff;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 2;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav {
    display: flex;
    position: relative;
    z-index: 1;

    &__link {
        font-size: 14px;
        color: #555248;
        border-bottom: 2px solid transparent;
        transition: .1s linear;
        margin-right: 65px;
        padding-bottom: 2px;

        &:last-child {
            margin-right: 0;
        }
        &:hover {
            border-color: #555248;
        }
    }
    &__icons {
        display: flex;
    }
    &__icon {
        position: relative;
        margin-right: 23px;
        padding-bottom: 4px;
        border-bottom: 2px solid transparent;

        &:last-child {
            margin-right: 0;
        }

        .count {
            display: none;
            width: 13px;
            height: 13px;
            font-size: 8px;
            text-align: center;
            color: #1B1A17;
            background-color: #E6C8B4;
            border-radius: 50%;
            padding-top: 2px;
            position: absolute;
            top: -5px;
            right: -7px;
            z-index: 1;
        }

        .count.active {
            display: block;
        }

        &:hover {
            border-color: #555248;
        }
    }
}

.nav__link.active {
    border-bottom: 2px solid #daa803;
}

@media screen and (max-width: 770px) {

    // ____________________ Nav

    .nav {
        display: none;
    }

    // ____________________ Nav-toggle

    .nav-toggle {
        width: 30px;
        padding: 11px 0;
        cursor: pointer;
        position: relative;
        top: 0;
        right: 15px;
    }

    .nav-toggle__item {
        display: block;
        margin: auto;
        width: 100%;
        height: 3px;
        background-color: #595959;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &::before,
        &::after {
            content: "";
            width: 100%;
            height: 3px;
            background-color: #595959;
            transition: .3s linear;
            position: absolute;
            left: 0;
            z-index: 1;
        }    
        &::before {
            top: -10px;
        }
        &::after {
            bottom: -10px;
            z-index: 1;
        }
    }

    .nav-toggle.active .nav-toggle__item {
        background-color: transparent;
        transition: -1s linear;
    }

    .nav-toggle.active .nav-toggle__item::before {
        transform-origin: left top;
        transform: rotate(45deg) translateX(0);
        transition: .3s linear;
    }

    .nav-toggle.active .nav-toggle__item::after {
        transform-origin: left bottom;
        transform: rotate(-45deg) translateX(0);
        transition: .3s linear;
    }

    // ____________________ Nav - mobile__version

    .nav.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        font-size: clamp(5px, 5vw, 40px);
        background-color: #ede9e6;
        color: #555248;
        animation: nav 0.8s;
        position: fixed;
        top: 96px;
        right: 0;
        left: 0;
        z-index: 2;
    }

    .nav__icons {
        justify-content: center;
        padding-top: 15px;

        &:hover {
            border-bottom: 1px solid #555248;
        }
    }

    .nav__link,
    .nav__icons {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #E6C8B4;

        &:hover {
            background-color: #ffefce;
        }
    }
}

@keyframes nav {
    0% {
        position: fixed;
        left: -400px;
    }
    100% {
        right: 0;
    }
}