.news {
    padding: 52px 0 90px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
    }
    &__title {
        margin-bottom: 40px;
    }
    &__text {
        max-width: 340px;
        margin-bottom: 118px;

        & > a {
            color: #444240;
        }
    }
    &__icons {
        display: flex;
        align-items: center;
    
        &>a {
            margin-right: 18px;
    
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__img {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        &-col:first-child > img:first-child {
            margin-bottom: 10px;
        }
    }
}