.products {
    padding: 80px 0;

    &__inner {
        display: flex;
        align-items: center;
    }
    &__title {
        text-align: center;
        margin-bottom: 52px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__card {
        margin: 0 auto;
        padding: 40px 26px;
        
        img {
            margin-bottom: 20px;
            border: 1px solid #e9e3d4;
            border-left-color: transparent;
            border-radius: 50%;

            &:hover {
                background-color: #f9ede5;
                cursor: pointer;
            }
        }
    }
}

.see-all {
    text-align: right;

    &>a {
        font-weight: 500;
        font-size: 16px;
        color: #444240;
        border-bottom: 1px solid transparent;

        &:hover {
            padding-bottom: 5px;
            border-color: #C4C0B6;
        }
    }
}

.model-name {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #1b1a17;

    &>span {
        font-family: 'Prata', serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #1b1a17;
    }
}

.more {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #1B1A17;

    &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        border-bottom: 1px solid #8b8371;
        margin-right: 18px;
    }

    &:hover {
        text-decoration: underline;
    }
}